.aside .logo a::before {
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
}

.aside .logo a::after {
    border-bottom: 4px solid #ec1839;
    border-right: 4px solid #ec1839;
}

.contact-section .contact-info-item .icon .fa,
.service-section .service-item .service-item-inner .icon:hover,
body.dark .style-switcher .toggle-style-switcher .fa,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active {
    color: red;
}

.aside .nav-toggler span::after,
.aside .nav-toggler span::before,
.aside .nav-toggler span,
.home-section .intro .social-links a {
    background-color: red;
}

.home-section .intro .social-links a {
    background-color: red;
}

.aside .logo a,
.about-section .section-title h2,
.contact-section .contact-title h2,
.service-section .service-title,
.service-section .service-item .service-item-inner .icon,
.about-section .about-content .about-text h3 span {
    color: red;
}

.btn {
    background-color: red;
}

.about-section .about-content .timeline .timeline-item::before,
.about-section .about-content .skills .skill-item .progress-in {
    background-color: red;
}

.about-section .about-content .timeline .circle-dot {
    background-color: red;
}